body{
    font-family: 'Roboto', sans-serif;
}
#name{
    color: gold;
}
.half-width{
    float: left;
    width: 40% ;
    margin: 4% 2%;
    padding: 2% 2%;
    
}
.half-width img{
    width: 100%;
}
#head{
    
}